.subject-wrapper {
    overflow-x: hidden;
    --bg-container: #FAFAFA;
    --tt-container: #1C1917;
    --bg-quizzes: #F5F5F5;
    --bg-subjects: #F5F5F5;
}
.subject-wrapper .container {
    display: flex;
    min-height: 100vh;  
    gap: 1rem;                 
    background-color: #1E1B4B; 
    user-select: none;
              
}
.subject-wrapper .content {
    flex: 1;
    background-color: var(--bg-container);
    padding: 2rem;
    border-radius: 1.25rem;
    color: var(--tt-container);
}

.subject-wrapper #sidebar {
    width: 20%;
    flex-shrink: 0;
}
.subject-wrapper header {
    display: flex;
    flex-direction: column;
    margin-top: 0.625rem;
    gap: 0.5rem;
    font-size: 1.375rem;
    margin-bottom: 3.75rem;
    margin-left: 2.5rem;
}
.subject-wrapper header p {
    color: #6d6565;
}
.subject-wrapper #icone_voltar {
    all: unset;
    width: 1.25rem;
}
.subject-wrapper main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 2.5rem;
    margin-right: 3.5rem;
}
.subject-wrapper .column_quizzes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.7rem;
    color: #6d6565;
}

.subject-wrapper .cadastrados {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.subject-wrapper .cadastrados p {
    width: 102%;
    min-height: 4rem;
    border-radius: 1rem;
    border: 0.125rem solid #E7E5E4;
    background-color: var(--bg-subjects);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-size: 1.1875rem;
    color: var(--tt-container);
    padding: 0 1rem;
    
}

.subject-wrapper .postados li, .arquivados li {
    margin-bottom: 10px;
    max-width: 600px;
    min-height: 4rem;
    border-radius: 1rem;
    border: 0.125rem solid #E7E5E4;
    background-color: var(--bg-subjects);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-size: 1.1875rem;
    color: #6d6565;
    padding: 0 1rem;
    
    
}

subject-wrapper .cadastrados p span {
    text-align: left;
}
.subject-wrapper .cadastrados p span:nth-child(1) { flex: 0 0 31%; }
.subject-wrapper .cadastrados p span:nth-child(2) { flex: 1 1 auto; }
.subject-wrapper .cadastrados p span:nth-child(3) { flex: 0 0 25%; } 
.subject-wrapper .cadastrados p span:nth-child(4) { flex: 0 0 5%; text-align: right; color: #4338CA; }
.subject-wrapper .cadastrados p span:nth-child(4):hover { color: #756dcf;}
.subject-wrapper .cadastrados p span:nth-child(5) { flex: 0 0 5%; text-align: right; color: #4338CA; }
.subject-wrapper .cadastrados p span:nth-child(5):hover { color: #756dcf;}


.subject-wrapper #cadastrar-button{
    position: absolute;
    width: 171px;
    height: 56px;
    border-radius: 8px;
    font-size: larger;
    top: 48px;
    right: 48px;
    border: none;
    background-color: #6366F1;
    color: var(--bg-quizzes);
}

.subject-wrapper #cadastrar-button:hover{
    background-color: #797bf1;
}


.subject-wrapper form{
    display: flex;
    flex-wrap: wrap;
    gap:6px;
}

.subject-wrapper .nome, .matricula, .email {
    display: flex;
    flex-direction: column;
    gap:12px;
}

.subject-wrapper form input, select{
    border: 1px solid #cec9c9;
    background-color: none;
    width: 514px;
    height: 48px;
    border-radius: 8px;
    font-size: 15px;
    padding: 0 1rem;
    margin-bottom: 32px;
    outline: none;
}

.subject-wrapper #cadastrar-button-form{
    width: 171px;
    height: 56px;
    border-radius: 8px;
    font-size: larger;
    border: none;
    background-color: #6366F1;
    color: var(--bg-quizzes);
    
}

.subject-wrapper #cadastrar-button-form:hover{
    background-color: #797bf1;
}

.subject-wrapper #button-container{
    padding: 100px;
    margin-right: 350px;
    
}

.custom-select-container {
	position: relative;
	width: 100%;
}

.selected-tags {
    margin-top: 10px;;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	align-items: center;
	width: 514px;
    height: 48px;
	border: 1px solid #cec9c9;
	border-radius: 8px;
	padding: 8px;
	cursor: pointer;
	background-color: white;
}

.tag-item {
	display: flex;
	align-items: center;
	gap: 8px;
	background-color: #e0e7ff;
	color: #3730a3;
	padding: 4px 10px;
	border-radius: 16px;
	font-size: 14px;
	font-weight: 500;
}

.tag-item b {
	font-size: 16px;
	cursor: pointer;
}

 .options-list {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background-color: #fff;
	border: 1px solid #cec9c9;
	border-radius: 8px;
	margin-top: 4px;
	max-height: 200px;
	overflow-y: auto;
	z-index: 10;
}

 .option-item {
	padding: 12px;
	cursor: pointer;
}

 .option-item:hover {
	background-color: #f0f0f0;
}

.subject-wrapper .placeholder{
    all: unset;
    color: #857e7e;
}

.subject-wrapper .container-subjectname{
    display: none;
}

.subject-wrapper .container-subjectname.on{
    display: flex;
    flex-direction: column;
    width: 204px;
    height: 160px;
    padding: 2px 4px;
    background-color: #e0e7ff;
    align-items: center;
    border-radius: 6px;
}