.trocar-senha-wrapper {
    background-color: #312E81;
    font-size: 1rem;
    min-height: 200vh; 
    --bg-button: #6366F1;
    --tt-button: #FAFAFA;
    --tt-placeholder: #A8A29E;
    --bg-inputs: #F5F5F5;
    --tt-login: #1C1917;
    --bg-card: #FAFAFA;
    --bg-bola: #6365f17a;
}
.trocar-senha-wrapper .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    width: 33rem;
    height: 35rem;
    margin: 6rem auto;
    border-radius: 1.25rem;
    padding: 2rem 1rem;
    background-color: var(--bg-card);
    color: var(--tt-login);
    box-shadow: 0 0.5rem 2rem 0 rgba(60, 60, 90, 0.18);
}
.trocar-senha-wrapper #icone_voltar {
    all: unset;
    cursor: pointer;
    position: absolute; 
    top: 2rem;          
    left: 2rem;         
    width: 1.5rem;
    height: 1.5rem;
}
.trocar-senha-wrapper #icone_voltar img {
    width: 100%;
    height: 100%;
}
.trocar-senha-wrapper .logo {
    display: flex;
    margin: 1.625rem;
}
.trocar-senha-wrapper .logo p {
    color: #F5F5F5;
    font-size: 1.375rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-weight: 600;
}
.trocar-senha-wrapper #senha_nova,
.trocar-senha-wrapper #senha_confirmacao {
    width: 26rem;
    height: 3rem;
    border: 1px solid #E5E5E5;
    border-radius: 0.3125rem;
    background-color: var(--bg-inputs);
    padding: 0 2.5rem 0 1rem;
}
.trocar-senha-wrapper .senha_novaIn,
.trocar-senha-wrapper .senha_confirmacaoIn {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.trocar-senha-wrapper .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 1rem;
}
.trocar-senha-wrapper .form h1 {
    font-weight: 600;
    margin-bottom: 1rem;
}
.trocar-senha-wrapper hr {
    width: 12.875rem;
    margin-bottom: 2rem;
    border: none;
    border-top: 1.5px solid #D4D4D4;
}
.trocar-senha-wrapper .form form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.trocar-senha-wrapper #salvar {
    width: 26rem;
    height: 3rem;
    border-radius: 0.375rem;
    border: none;
    background-color: var(--bg-button);
    color: var(--tt-button);
    font-size: 1.0625rem;
}
.trocar-senha-wrapper .senha_nova_container,
.trocar-senha-wrapper .senha_confirmacao_container {
    position: relative;
    display: flex;
    align-items: center;
    width: 26rem;
}
.trocar-senha-wrapper .eye_icon {
    position: absolute;
    right: 0.75rem;
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
}
.trocar-senha-wrapper .background_circle,
.trocar-senha-wrapper .background_circle1,
.trocar-senha-wrapper .background_circle2,
.trocar-senha-wrapper .background_circle3,
.trocar-senha-wrapper .background_circle4 {
    position: absolute;
    background-color: var(--bg-bola);
    border-radius: 50%;
    z-index: 0;
}
.trocar-senha-wrapper .background_circle1 { top: -6.25rem; right: -9.375rem; width: 31.25rem; height: 31.25rem; }
.trocar-senha-wrapper .background_circle2 { bottom: -7.5rem; left: -7.5rem; width: 20rem; height: 20rem; }
.trocar-senha-wrapper .background_circle3 { top: 60%; right: -5rem; width: 11.25rem; height: 11.25rem; }
.trocar-senha-wrapper .background_circle4 { top: 10%; left: -3.75rem; width: 7.5rem; height: 7.5rem; }