*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-sidebar:#1E1B4B;
    --tt-login:#EEF2FF;
}


body{
    background-color: var(--bg-sidebar);
    font-size: 1rem;
    font-family: 'Robot', sans-serif;
    color: var(--tt-login);
}

.logo{
    display: flex;
    margin: 1.625rem;
}

.logo p{
    color: #F5F5F5;
    font-size: 1.375rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-weight: 600;
}

.options_user{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2.125rem;
    margin-top: 2rem;
}

#dashboard{
    display: flex;
    gap: 0.625rem;
}

#dashboard:hover{
    color: #9e9c9c;
}

#subjects:hover{
    color: #9e9c9c;
}

#change_password:hover{
    color: #9e9c9c;
}

#sign_out:hover{
    color: #9e9c9c;
}

#subjects{
    display: flex;
    gap: 0.625rem;
}

#seta{
    display: flexbox;
    margin-top: 0.375rem;
    width: 0.6875rem;
    height: 0.375rem;
}

.options_login{
    display: flex;
    flex-direction: column;
    bottom: 2.5rem;
    position: fixed;
    gap: 1rem;
    padding: 0 2.125rem;
    margin-top: 2rem;
}

#change_password{
    display: flex;
    gap: 0.625rem;
}

#sign_out{
    display: flex;
    gap: 0.625rem;
}

#button_dashboard{
    all: unset;
}

#button_subjects{
    all: unset;
}

#button_change_password{
    all: unset;
}

#button_sign_out{
    all: unset;
}