<div class="container">
    <aside class="sidebar">
        <div class="logo">
            <img src="/public/img/iconeBranco.png" alt="Polvinho">
            <p>Polvinho</p>
        </div>
        <div class="options_user">
            <div id="dashboard">
                <img src="/public/img/House.png" alt="house">
                <p id="button_dashboard">Dashboard</p>
            </div>
            <div id="subjects">
                <img src="/public/img/Books.png" alt="books">
                <p id="button_subjects" >Disciplinas</p>
                <img src="/public/img/seta.png" alt="seta" id="seta">
            </div>
        </div>
        <div class="options_login">
            <div id="change_password">
                <p>|**</p>
                <a href="/trocar-senha" onclick="route(event)" id="button_change_password">Trocar senha</a>
            </div>
            <div id="sign_out">
                <img src="/public/img/SignOut.png" alt="signout">
                <a href="/login" id="button_sign_out">Encerrar sessão</a>
            </div>
        </div>
    </aside>

    <div class="content" id="page-content-wrapper">
    </div>
</div>