<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" >
		<title>Polvinho Frontend</title>
		<link rel="stylesheet" href="../css/sidebar.css">
	</head>
	<body>
      <aside class="sidebar">
        <div class="logo">
				<img src="/src/public/img/iconeBranco.png" alt="Polvinho">
				<p>Polvinho</p>
			</div>
        <div class="options_user">
            <div id="dashboard">
                <img src="/src/public/img/House.png" alt="house">
                <p>Dashboard</p>
            </div>
            <div id="disciplinas">
                <img src="/src/public/img/Books.png" alt="books">
                <p>Disciplinas</p>
                <img src="/src/public/img/seta.png" alt="seta" id="seta">
            </div>
        </div>
        <div class="options_login">
            <div id="change_password">
                <p>|**</p>
                <p>Trocar senha</p>
            </div>
            <div id="sign_out">
                <img src="/src/public/img/SignOut.png" alt="signout">
                <p>Encerrar sessão</p>
            </div>
            </div>
      </aside>
    </body>
</html>