<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" >
		<title>Polvinho Frontend</title>
		<link rel="stylesheet" href="../css/sidebar.css">
	</head>
	<body>
      <aside class="sidebar">
        <div class="logo">
				<img src="/src/public/img/iconeBranco.png" alt="Polvinho">
				<p>Polvinho</p>
			</div>
        <div class="options_user">
            <div id="dashboard">
                <img src="/src/public/img/House.png" alt="house">
                <a href="/src/public/html/dashboard.html" id="button_dashboard" >Dashboard</a>
            </div>
            <div id="subjects">
                <img src="/src/public/img/Books.png" alt="books">
                <button id="button_subjects" type="button">Disciplinas</button>
                <img src="/src/public/img/seta.png" alt="seta" id="seta">
            </div>
        </div>
        <div class="options_login">
            <div id="change_password">
                <p>|**</p>
                <a href="/src/public/html/trocarSenha.html" id="button_change_password" >Trocar senha</a>
            </div>
            <div id="sign_out">
                <img src="/src/public/img/SignOut.png" alt="signout">
                <a href="/src/public/html/login.html" id="button_sign_out" >Encerrar sessão</a>
            </div>
            </div>
      </aside>
    </body>
</html>